@keyframes backgroundScroll {
  0% { background-position: 60% 60%; transform: scale(1); }
  2.5% { background-position: 60% 58.75%; transform: scale(1); }
  5% { background-position: 60% 57.5%; transform: scale(1); }
  7.5% { background-position: 60% 56.25%; transform: scale(1); }
  10% { background-position: 60% 55%; transform: scale(1); }
  12.5% { background-position: 60% 53.75%; transform: scale(1); }
  15% { background-position: 60% 52.5%; transform: scale(1); }
  17.5% { background-position: 60% 51.25%; transform: scale(1); }
  20% { background-position: 60% 50%; transform: scale(1); }
  22.5% { background-position: 60% 48.75%; transform: scale(1); }
  25% { background-position: 60% 47.5%; transform: scale(1); }
  /* ------------------------------ */
  27.5% { background-position: 61% 46.25%; transform: scale(1.075); }
  30% { background-position: 62% 45%; transform: scale(1.1); }
  32.5% { background-position: 63% 43.75%; transform: scale(1.1); }
  35% { background-position: 64% 42.5%; transform: scale(1.1); }
  37.5% { background-position: 64% 41.25%; transform: scale(1.1); }
  40% { background-position: 64% 40%; transform: scale(1.1); }
  42.5% { background-position: 63% 38.75%; transform: scale(1.1); }
  45% { background-position: 63% 37.5%; transform: scale(1.1); }
  47.5% { background-position: 63% 36.25%; transform: scale(1.1); }
  50% { background-position: 63% 35%; transform: scale(1.1); }
  52.5% { background-position: 62% 33.75%; transform: scale(1.1); }
  55% { background-position: 62% 32.5%; transform: scale(1.1); }
  57.5% { background-position: 62% 31.25%; transform: scale(1.1); }
  60% { background-position: 62% 30%; transform: scale(1.1); }
  62.5% { background-position: 61% 28.75%; transform: scale(1.1); }
  65% { background-position: 61% 27.5%; transform: scale(1.075); }
  67.5% { background-position: 61% 26.25%; transform: scale(1); }
  70% { background-position: 61% 25%; transform: scale(1); }
  72.5% { background-position: 61% 23.75%; transform: scale(1); }
  75% { background-position: 61% 22.5%; transform: scale(1); }
  /* ------------------------------- */
  77.5% { background-position: 60% 21.25%; transform: scale(1); }
  80% { background-position: 60% 20%; transform: scale(1); }
  82.5% { background-position: 60% 18.75%; transform: scale(1); }
  85% { background-position: 60% 17.5%; transform: scale(1); }
  87.5% { background-position: 60% 16.25%; transform: scale(1); }
  90% { background-position: 60% 15%; transform: scale(1); }
  92.5% { background-position: 60% 13.75%; transform: scale(1); }
  95% { background-position: 60% 12.5%; transform: scale(1); }
  97.5% { background-position: 60% 11.25%; transform: scale(1); }
  100% { background-position: 60% 10%; transform: scale(1); }
}

/* added pauses to each edge of the image */

.image {
  width: 100%;
  height: 100%;
  background: url(/assets/hero-img-1.png) no-repeat;
  background-size: 150%;
  animation: backgroundScroll 20s linear infinite alternate;
  filter: brightness(0.95);
}